.btn {
    border-radius: 0;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.filtros{
    display: flex;
    justify-content: right;
    margin-right: 1em;
    margin-top: 15px;
}

.filtros .btn{
    margin-left: 1em;
}