.divImagen {
    width:100%;
    height: 200px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.divImagen img {
    width:150px;
}

.stock {
    margin-right: 10px;
}

.detalles{
    width:100%;
    position: absolute;
    bottom: 45px;
    left: 1px;
}

.precio{
    padding-top: 7px;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgb(12, 155, 71);
    color: white;
    border-radius: 0 0 5px 5px;
}

.titulo{
    margin-bottom: 3.5em;
}